@charset "UTF-8";
#head_button_group {background-color: rgb(247, 244, 241);z-index: 999;}
#head_button_group #navbar_main사이드숨기기 {margin-bottom:7px;}/*#navbar_main사이드숨기기 포함 이후 나오는 형제 button */
#메인사이드와우측을함께담은div {white-space: nowrap;}
#메인사이드와우측을함께담은div > div:first-child {width:3px;}
#메인사이드와우측을함께담은div #main사이드 {vertical-align: top;}
#메인사이드와우측을함께담은div #main사이드 div:first-child {background-color: aqua;}
#메인사이드와우측을함께담은div #main사이드 [title='S1_해상일퀘동선'] {text-decoration-line:underline; text-decoration-color:blue;text-decoration-style:wavy;}
#메인사이드와우측을함께담은div #main사이드 [title='S1_해역사진'] {background-color: cadetblue;text-decoration-line:underline; text-decoration-color:blue;text-decoration-style:wavy;}
#메인사이드와우측을함께담은div #main사이드 div:nth-of-type(2) {background-color:white;}
#메인사이드와우측을함께담은div #main사이드우측의_코딩결과div {vertical-align: top;width:1400px;}


/* 예전꺼 */
#main사이드 {margin-left:3px;width:300px;}
.a_형식 {color:chocolate;text-decoration: underline;}
#main사이드 li {padding:7px 3px;list-style: none;}
#선택문서셑팅하는곳 li, #main사이드 li, .offcanvas-header > div  {list-style: none;padding-bottom:5px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.accordion-button:hover, .accordion-body:hover, .accordion-body > li:hover, 
#선택문서셑팅하는곳 li:hover, #서브리스트가져오는곳 > div > li:hover, #main사이드 li:hover {background-color: white;overflow:visible;}

#캔버스바디 {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.canvas카테고리 > div {width:620px;display:inline-block;}/* 항상 세로 세줄로 보고 싶다 */
#offcanvasBottom > div > div > h6:nth-of-type(1) {display:inline-block;width:50px; background-color: aqua;}
#offcanvasBottom > div > div > h6:nth-of-type(2) {display:inline-block;width:100px; background-color: aqua;}
#offcanvasBottom > div > div > h6:nth-of-type(3) {display:inline-block;width:100px; background-color: aqua;}
#offcanvasBottom > div > div > h6:nth-of-type(4) {background-color: aqua;}
#offcanvasBottom #canvas검색 {display:inline-block;width:150px;}
#offcanvasBottom #canvas검색_clear {display:inline-block;background-color: aqua;}