@charset "UTF-8";
.m0auto {margin-left:250px;}
.offcanvas-header h6,.offcanvas-header input,.offcanvas-header button {display:inline-block;}
.canvas카테고리 > div {display:inline-block; width:617px;vertical-align: top;}
.현재카테고리 {background-color: chocolate;}
/* 세희 로그인 관련 #메인사이드와우측을함께담은div 안에 왼쪽 id="main사이드", 오른쪽 id="복사"*/
#메인사이드와우측을함께담은div {white-space:nowrap;overflow: hidden;}
#main사이드, #복사 {display:inline-block;vertical-align: top;white-space: normal;}
#main사이드 {width:400px;}
#main사이드 * {padding:0px;margin:0px;}
#main사이드 .accordion-header button{height:40px;text-indent:10px;text-align: left;}
#main사이드 button {width:100%;margin-bottom:3px;text-align: left;border:1px solid black;padding:0px;}
#main사이드 .accordion-body {margin-top:10px;}
#main사이드 .accordion-body h6, #main사이드 .accordion-body button {text-indent: 5px;margin-bottom:3px;}
/* 세희 로그인관련 끝 */
/* white-space:nowrap; white-space: normal;*/

#head_button_group {background-color: rgb(247, 244, 241);z-index: 999;}
#복사 > div {margin-left:5px;}
/* 해역사진관련 위#위무게와교섭력계산부분 아래#복사,전체를 감싸는 div */
#위무게와교섭력계산부분 {margin-left:250px;margin-bottom: 5px; white-space: nowrap;overflow: hidden;}
#위무게와교섭력계산부분 > div {vertical-align: top;}
/* #위무게와교섭력계산부분 > #교섭력계산 */
#위무게와교섭력계산부분 > #교섭력계산 {display:inline-block;}
#위무게와교섭력계산부분 > #교섭력계산 > div {display: inline-block;}
/* #위무게와교섭력계산부분 > #교섭력계산 > #남은_차감후_교섭력 */
#남은_차감후_교섭력 > h6, #남은_차감후_교섭력 > input {width:80px;text-align: center;}
#남은_차감후_교섭력 > h6:nth-of-type(2) {margin-top:5px;font-weight: bold;}
/* #위무게와교섭력계산부분 > > #교섭력계산 > #차감input들 */
#차감input들 {width:360px;}
#차감input들 > input,#차감input들 > button,#차감input들 > div {vertical-align: top;}
#차감input들 > input {width:70px;margin-bottom:-1px;text-align: center;}
#차감input들 > button {margin-bottom:-1px;margin-left:-1px;border:1px solid black;height:30px;}
#차감input들 > div {display: inline-block;width:70px;margin-bottom:-1px;}
/* #위무게와교섭력계산부분 > div : id="무게계산" [자식DIV :id="무게계산첫줄", h6안에 인풋과버튼들 3개*/
#무게계산 {width:1000px;display:inline-block;}
#무게계산 > #무게계산첫줄 > h6 {display:inline-block;}
#무게계산 > #무게계산첫줄 > h6:nth-of-type(1) {margin-left:51px;}
#무게계산 > #무게계산첫줄 > h6:nth-of-type(2) {margin-left:10px;}
#무게계산 > #무게계산첫줄 > h6:nth-of-type(3) {margin-left:11px;}
#무게계산 > #무게계산첫줄 > h6:nth-of-type(4) {margin-left:18px;}/*선원+장비*/
#무게계산 > #무게계산첫줄 > h6:nth-of-type(5) {margin-left:8px;}/*여유무게*/
#무게계산 > #무게계산첫줄 > h6:nth-of-type(6) {margin-left:18px;}
#무게계산 > #무게계산첫줄 > h6:nth-of-type(7) {margin-left:18px;}
#무게계산 > #무게계산첫줄 > h6:nth-of-type(8) {margin-left:18px;}/*4,5댠(천)*/

#무게계산 input {width:70px;text-align: center;}
#과적여유무게 {background-color: cadetblue;}
/* 무게계산 > h6 > span의 첫번째형제 선원div,두번째+버튼 개수,세번째+버튼, 네번째-버튼, 바로뒤 인접형제 선택자 e + f */
#무게계산 > h6 span+div {width:90px;height:25px;border:1px solid rgb(143, 130, 130);vertical-align: top;}
#무게계산 > h6 span+div+button {width:32px;height:25px;border:1px solid rgb(143, 130, 130);vertical-align: top;margin-left:-1px;}
#무게계산 > h6 span+div+button+button {width:22px;height:25px;border:1px solid rgb(143, 130, 130);vertical-align: top;margin-left:-1px;}
#무게계산 > h6 span+div+button+button+button {width:22px;height:25px;border:1px solid rgb(143, 130, 130);vertical-align: top;margin-left:-1px;}
#나의무게 > button:first-child {margin-left:59px;}
/* #위무게와교섭력계산부분 > div : id="리스너용섬이름검색" */
#리스너용섬이름검색 form, #리스너용섬이름검색 div {display: inline-block;vertical-align: top;}
#리스너용섬이름검색 div, #리스너용섬이름검색 input {height:30px;margin:0;padding:0;}
#리스너용섬이름검색 div {width:120px;}
#리스너용섬이름검색 input {width:80px;}
#리스너용섬이름검색 div {border:1px solid black;background-color: rgb(231, 222, 222);}
/* 아래부분 */
#textarea좌측상단메모 {width:520px;height:770px;left:5px;position: absolute;}
#해역_물품단계 img {position: absolute;left:339px;}
#덩어리이동5개textarea {white-space: nowrap; position: absolute;margin-top:780px;left:5px;}
#덩어리이동5개textarea textarea {display: inline-block;width:614px;height:500px; left:5px;top:1020px;}
#S1_에페리아창고사진 {position: absolute;width:342px;height:116px;top:0px;left:530px; background-image:url('../../../portal/images/black_문서/S1_창고_에페리아.png');background-position: -1px -1px;}
#S1_일리야창고사진 {position: absolute;width:342px;height:380px;top:00px;left:872px; background-image:url('../../../portal/images/black_문서/S1_창고_일리야.png');background-position: -1px -1px;}

/* 예전꺼 막 갖다붙임 일단 */
#해역_물품단계 > img:nth-of-type(1) {margin-bottom:2px;margin-left:190px;}
#모은재료클릭시 {width:100%; position: absolute;left:150px;top:248px;margin-bottom:5px;background-color: white;}  */
#모은재료클릭시 > #모은재료_파템재료 > div {vertical-align: top;}/* 일반재료,파템_함포,파템_장갑,파템_돛,파템_선수상,파템_재료아이콘 */
#모은재료클릭시 > #모은재료_파템재료 > #파템_돛 {padding-right:3px;}
#모은재료클릭시 > #모은재료_파템재료 > #파템재료_재료아이콘 > div:first-child {padding-top:5px;}
/* 예전꺼 */
.a_형식 {color:chocolate;text-decoration: underline;}
.무게input들 input {width:52px;text-align: center;}
#차감input들 input {width:60px;text-align: center;margin-right:2px;}
#차감input들 button {border:1px solid rgb(126, 118, 118);margin:0;}

/* #모은재료클릭시 > #모은재료_파템재료 > div들 */
#파템_함포 > div > button,
#파템_선수상 > div > button,
#파템_장갑 > div > button,
#파템_돛 > div > button {margin:0;padding:0;border:none;width:30px;height:38px;border-right:1px solid black;vertical-align: top;}
#파템_함포 > div:last-of-type > button,
#파템_선수상 > div:last-of-type > button,
#파템_장갑 > div:last-of-type > button,
#파템_돛 > div:last-of-type > button {border-bottom:1px solid black;}

#파템_함포 > div > button:last-of-type,
#파템_선수상 > div > button:last-of-type,
#파템_장갑 > div > button:last-of-type,
#파템_돛 > div > button:last-of-type {border-right:none;text-align: center;}
#파템_함포 > div > button:nth-child(2n+2),
#파템_선수상 > div > button:nth-child(2n+2),
#파템_장갑 > div > button:nth-child(2n+2),
#파템_돛 > div > button:nth-child(2n+2) { background-color: rgb(229, 223, 236);font-weight: bold;}

.노랑 {background-color: chartreuse;}
#구축파템강화확률 th, #구축파템강화확률 td {text-align: center;}
#구축파템강화확률 tr {height:10px;}

#파템재료_재료아이콘 > div, #파템재료_가방아이콘 > div,
#파템_함포 > div, #파템_선수상 > div, #파템_장갑 > div, #파템_돛 > div, #파템_일반재료1 > div, #파템_일반재료2 > div
 {height:38px;margin:1px 0px;border:1px solid black;text-align: center;}
#파템_함포 > div:first-child, #파템_선수상 > div:first-child, #파템_장갑 > div:first-child, #파템_돛 > div:first-child {padding-top:6px;}
/* 예전꺼 끝 */

#파템_일반재료1, #파템_일반재료2 {vertical-align: top;text-align: left;}
#파템_일반재료1 > div, #파템_일반재료2 > div, #파템재료_재료아이콘 > div, #파템재료_가방아이콘 > div {border:none;margin-bottom:-2px;}
#파템_일반재료2 > div:first-child {border:1px solid black;border-right:none;}
#파템재료_재료아이콘 > div, #파템재료_가방아이콘 > div {border:1px solid black;}
#파템_일반재료1 > div > button, #파템_일반재료2 > div > button {margin:0;padding:0;margin-right:-1px; width:34px;height:38px;border:1px solid black;vertical-align: top;}
#파템_일반재료1 > div > button:first-child, #파템_일반재료2 > div > button:first-child {width:140px;}
#파템_일반재료1 > div > button:last-child, #파템_일반재료2 > div > button:last-child {border-right:1px solid black;}
#파템_일반재료1 > div:nth-of-type(6), #파템_일반재료1 > div:nth-of-type(11) {margin-bottom:5px;}/*일반아래 함포부분 띄우기 */
#파템_일반재료2 > div:nth-of-type(6), #파템_일반재료2 > div:nth-of-type(11) {margin-bottom:5px;}/*일반아래 함포부분 띄우기 */
#파템_일반재료2 > div:nth-of-type(6), #파템_일반재료2 > div:nth-of-type(11) {margin-bottom:5px;}/*일반아래 함포부분 띄우기 */

#파템_일반재료2 > div:nth-of-type(2) > button {width:304px;margin-left:-1px;}
#파템_일반재료2 > div:nth-of-type(3) > button {width:304px;margin-left:-1px;}
#파템_일반재료2 > div:nth-of-type(4) > button {width:304px;margin-left:-1px;}
#파템_일반재료2 > div:nth-of-type(5) > button {width:304px;margin-left:-1px;}
#파템_일반재료2 > div:nth-of-type(6) > button {width:304px;margin-left:-1px;}
/*왼쪽 띄우기 맞추기*/
#파템재료_가방아이콘 > div:nth-of-type(6), #파템재료_가방아이콘 > div:nth-of-type(11) {margin-bottom:5px;}/*왼쪽 띄우기 맞추기*/
#파템재료_재료아이콘 > div:nth-of-type(6), #파템재료_재료아이콘 > div:nth-of-type(11) {margin-bottom:5px;} /*왼쪽 띄우기 맞추기*/
#파템재료_일퀘개수 > div:nth-of-type(6), #파템재료_일퀘개수 > div:nth-of-type(11) {margin-bottom:5px;}/* 왼쪽 띄우기 맞추기*/
/* 재료설명*/
.재료설명 {vertical-align: top;}
.재료설명 > div {border:1px solid black;height:38px;width:300px;margin-bottom:-1px;margin-left:-4px; text-align: left;font-size:14px;line-height: 17px;padding-left:4px;}
.재료설명 > div:nth-of-type(1) {margin-top:1px;font-size: 16px;text-align: center;}
.재료설명 > div:nth-of-type(6) {margin-bottom:5px;}
.재료설명 > div:nth-of-type(11) {margin-bottom:5px;}

/* 파템재료_일퀘개수 관련정비 */
#파템재료_일퀘개수 > div {margin-bottom:-1px;height:38px;border:1px solid black;width:390px;}
#파템재료_일퀘개수 > div > button {height:36px;width:32px;border:none;vertical-align: top;padding:0px;text-align: center;}
#파템재료_일퀘개수 > div > button:not(:last-child) {border-right:1px solid black;}
#파템재료_일퀘개수 > div > button:first-child {width:39px;}
#파템재료_일퀘개수 > div > button:last-child {width:283px;text-align: left;font-size:14px;line-height: 17px;padding-left:4px;}
.에페리아창고사진일부분 {background-image:url('../../../portal/images/black_문서/S1_창고_에페리아.png');} /* 가로이동,세로이동 */

#재료모은거 #재료모은거_에페리아전체사진일부 {position: absolute;width:342px;height:116px; background-image:url('../../../portal/images/black_문서/S1_창고_에페리아.png');background-position: -1px -1px;}
#재료모은거_에페리아전체사진일부 {position: absolute;width:342px;height:116px; background-image:url('../../../portal/images/black_문서/S1_창고_에페리아.png');background-position: -1px -1px;}
#재료모은거 > #설명 > h6 {width:700px; height:38px;margin:1px 0px;border:1px solid black;margin-bottom:-2px;padding-top:10px;}
#재료모은거 > #설명 > h6:nth-of-type(1) {background-color: cadetblue;}/* 검은무쇠이빨*/
#재료모은거 > #설명 > h6:nth-of-type(4), #재료모은거 > #설명 > h6:nth-of-type(9) {margin-bottom:5px;}/* 아래 띄우기 맞추기*/

#파템_일반재료1 > div:nth-of-type(8) > button:first-child {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -192px -1px;} /* 함포8,9,10,11, 전투, 달의, 순수, 파도빛 */
#파템_일반재료1 > div:nth-of-type(9) > button:first-child {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -192px -43px;} /* 함포8,9,10,11, 전투, 달의, 순수, 파도빛 */
#파템_일반재료1 > div:nth-of-type(10) > button:first-child {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -192px -126px;} /* 함포8,9,10,11, 전투, 달의, 순수, 파도빛 */
#파템_일반재료1 > div:nth-of-type(11) > button:first-child {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -192px -84px;} /* 함포8,9,10,11, 전투, 달의, 순수, 파도빛 */

#파템_일반재료1 > div:nth-of-type(13) > button:first-child {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -0px -1px;} /* 선수상8,9,10,11, 홍조, 심해초, 현철, 강화섬나무합판 */
#파템_일반재료1 > div:nth-of-type(14) > button:first-child {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -0px -43px;} /* 선수상8,9,10,11, 홍조, 심해초, 현철, 강화섬나무합판 */
#파템_일반재료1 > div:nth-of-type(15) > button:first-child {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -0px -84px;} /* 선수상8,9,10,11, 홍조, 심해초, 현철, 강화섬나무합판 */
#파템_일반재료1 > div:nth-of-type(16) > button:first-child {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -0px -126px;} /* 선수상8,9,10,11, 홍조, 심해초, 현철, 강화섬나무합판 */

#파템_일반재료2 > div:nth-of-type(8) > button:first-child {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -192px -1px;} /* 흑장갑13,14,15,16, 전투, 달의, 순수, 하급 */
#파템_일반재료2 > div:nth-of-type(9) > button:first-child {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -192px -43px;} /* 흑장갑13,14,15,16, 전투, 달의, 순수, 하급 */
#파템_일반재료2 > div:nth-of-type(10) > button:first-child {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -192px -213px;} /* 흑장갑13,14,15,16, 전투, 달의, 순수, 하급 */
#파템_일반재료2 > div:nth-of-type(11) > button:first-child {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -192px -254px;} /* 흑장갑13,14,15,16, 전투, 달의, 순수, 하급 */


#파템_일반재료2 > div:nth-of-type(13) > button:first-child {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -0px -1px;} /* 돛13,14,15,16, 홍조, 심해초, 상급, 빛나는코발트 */
#파템_일반재료2 > div:nth-of-type(14) > button:first-child {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -0px -43px;} /* 돛13,14,15,16, 홍조, 심해초, 상급, 빛나는코발트 */
#파템_일반재료2 > div:nth-of-type(15) > button:first-child {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -0px -213px;} /* 돛13,14,15,16, 홍조, 심해초, 상급, 빛나는코발트 */
#파템_일반재료2 > div:nth-of-type(16) > button:first-child {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -0px -254px;} /* 돛13,14,15,16, 홍조, 심해초, 상급, 빛나는코발트 */
/* 파템재료_일퀘개수 관련정비 */
#파템_일반재료1 #파템_일반재교_개수, #파템_일반재료2 #파템_일반재교_개수 {width:140px;}
#파템재료_재료아이콘 .아이콘 {width:140px;}
#파템재료_가방아이콘 .아이콘 {width:39px;}

#모은재료_파템재료 > #파템_일반재료1 > div:nth-of-type(2) > button:first-child {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -0px -435px;}
#모은재료_파템재료 > #파템_일반재료1 > div:nth-of-type(3) > button:first-child  {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -0px -350px;}
#모은재료_파템재료 > #파템_일반재료1 > div:nth-of-type(4) > button:first-child  {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -0px -307px;}
#모은재료_파템재료 > #파템_일반재료1 > div:nth-of-type(5) > button:first-child  {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -3px -489px;}
#모은재료_파템재료 > #파템_일반재료1 > div:nth-of-type(6) > button:first-child  {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -0px -393px;}

#파템재료_재료아이콘 > div[class~="아이콘"][data="심해의 눈물"]                   {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -0px -435px;}
#파템재료_재료아이콘 > div[class~="아이콘"][data="화려한 진주 결정"]              {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -0px -350px;}
#파템재료_재료아이콘 > div[class~="아이콘"][data="콕스유물 전투"]                 {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -192px -1px;}
#파템재료_재료아이콘 > div[class~="아이콘"][data="화려한 암염 주괴"]              {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -0px -307px;}
#파템재료_재료아이콘 > div[class~="아이콘"][data="짙은 파도빛이 감도는 규격 각목"] {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -3px -489px;}
#파템재료_재료아이콘 > div[class~="아이콘"][data="달의 핏줄이 새겨진 아마포"]      {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -0px -393px;}
#파템재료_재료아이콘 > div[class~="아이콘"][data="홍조빛 해저 단괴"]              {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -0px -1px;}
#파템재료_재료아이콘 > div[class~="아이콘"][data="빛나는 코발트주괴"]             {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -0px -256px;}
#파템재료_재료아이콘 > div[class~="아이콘"][data="달의 비늘이 새겨진 합판"]       {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -192px -43px;}
#파템재료_재료아이콘 > div[class~="아이콘"][data="콕스유물 상급"]                 {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -0px -213px;}
#파템재료_재료아이콘 > div[class~="아이콘"][data="순수한 진주결정"]               {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -192px -213px;}
#파템재료_재료아이콘 > div[class~="아이콘"][data="파도빛이 감도는 규격 각목"]      {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -192px -84px;}
#파템재료_재료아이콘 > div[class~="아이콘"][data="대양의 견고한 현철"]            {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -0px -84px;}
#파템재료_재료아이콘 > div[class~="아이콘"][data="심해초 줄기"]                   {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -0px -43px;}
#파템재료_재료아이콘 > div[class~="아이콘"][data="순수한 암초조각"]               {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -192px -126px;}
#파템재료_재료아이콘 > div[class~="아이콘"][data="콕스유물 하급"]                 {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -192px -254px;}
#파템재료_재료아이콘 > div[class~="아이콘"][data="강화된 섬나무 증착합판"]        {background-image:url('../../../portal/images/black_문서/S2_재료아이콘추출용.png');background-position: -0px -126px;}
#파템재료_가방아이콘 > div[class~="아이콘"]:nth-of-type(3) {background-image:url('../../../portal/images/black_문서/S1_창고_에페리아.png');background-position: -2px -1px;}
#파템재료_가방아이콘 > div[class~="아이콘"]:nth-of-type(4) {background-image:url('../../../portal/images/black_문서/S1_창고_에페리아.png');background-position: -191px -1px;}
#파템재료_가방아이콘 > div[class~="아이콘"]:nth-of-type(5) {background-image:url('../../../portal/images/black_문서/S1_창고_에페리아.png');background-position: -229px -1px;}
#파템재료_가방아이콘 > div[class~="아이콘"]:nth-of-type(6) {background-image:url('../../../portal/images/black_문서/S1_창고_에페리아.png');background-position: -267px -1px;}
#파템재료_가방아이콘 > div[class~="아이콘"]:nth-of-type(7) {background-image:url('../../../portal/images/black_문서/S1_창고_에페리아.png');background-position: -304px -1px;}
#파템재료_가방아이콘 > div[class~="아이콘"]:nth-of-type(8) {background-image:url('../../../portal/images/black_문서/S1_창고_에페리아.png');background-position: -2px -39px;}
#파템재료_가방아이콘 > div[class~="아이콘"]:nth-of-type(9) {background-image:url('../../../portal/images/black_문서/S1_창고_에페리아.png');background-position: -40px -39px;}
#파템재료_가방아이콘 > div[class~="아이콘"]:nth-of-type(10) {background-image:url('../../../portal/images/black_문서/S1_창고_에페리아.png');background-position: -115px -39px;}
#파템재료_가방아이콘 > div[class~="아이콘"]:nth-of-type(11) {background-image:url('../../../portal/images/black_문서/S1_창고_에페리아.png');background-position: -153px -39px;} /*달의 비늘이 새겨진 합판*/
#파템재료_가방아이콘 > div[class~="아이콘"]:nth-of-type(12) {background-image:url('../../../portal/images/black_문서/S1_창고_에페리아.png');background-position: -191px -39px;}
#파템재료_가방아이콘 > div[class~="아이콘"]:nth-of-type(13) {background-image:url('../../../portal/images/black_문서/S1_창고_에페리아.png');background-position: -229px -39px;}
#파템재료_가방아이콘 > div[class~="아이콘"]:nth-of-type(14) {background-image:url('../../../portal/images/black_문서/S1_창고_에페리아.png');background-position: -266px -39px;}/*파도빛이 감도는 규격 각목*/
#파템재료_가방아이콘 > div[class~="아이콘"]:nth-of-type(15) {background-image:url('../../../portal/images/black_문서/S1_창고_에페리아.png');background-position: -304px -39px;}
#파템재료_가방아이콘 > div[class~="아이콘"]:nth-of-type(16) {background-image:url('../../../portal/images/black_문서/S1_창고_에페리아.png');background-position: -1px -78px;}
#파템재료_가방아이콘 > div[class~="아이콘"]:nth-of-type(17) {background-image:url('../../../portal/images/black_문서/S1_창고_에페리아.png');background-position: -41px -78px;}
#파템재료_가방아이콘 > div[class~="아이콘"]:nth-of-type(18) {background-image:url('../../../portal/images/black_문서/S1_창고_에페리아.png');background-position: -78px -78px;}
#파템재료_가방아이콘 > div[class~="아이콘"]:nth-of-type(19) {background-image:url('../../../portal/images/black_문서/S1_창고_에페리아.png');background-position: -115px -78px;;}
#파템재료_일퀘개수 button[title] {background-color: chartreuse;}
#리스너용섬이름검색 form {display:inline-block;}
#교섭력계산 > #차감input들 > div {display:inline-block;}
#모은재료_파템재료 > div > div > button:nth-of-type(6){background-color:chocolate;} /* 용맹 개수 기록 부분 */




