@charset "UTF-8";
#js카테고리생성 > button {margin-right:-2px;}
/* .개별카테고리 > div : div가 3개이고, 세로 선긋기 2개 position: absolute;*/
body {white-space: nowrap;}
code {color:black;display:block;}
.offcanvas-header {border-bottom:1px solid rgb(201, 188, 188)}
.선택카테고리 {background-color: chocolate;}
.개별카테고리 > div {display:inline-block; width:610px;vertical-align: top;}
.개별카테고리 > div > h6 {overflow: hidden;}
.개별카테고리 > div > h6:hover {overflow:visible; white-space:wrap; background-color: yellow;}
.개별카테고리세로1 {display:inline-block; position: absolute; border-right:1px solid rgb(201, 188, 188);height:1350px;left:613px;}
.개별카테고리세로2 {display:inline-block;position: absolute; border-right:1px solid rgb(201, 188, 188);height:1350px;left:1227px;}
.대체2줄 > div {display:inline-block;width:945px;vertical-align: top;}
.대체2줄세로1h6 {position: absolute; border-right:1px solid rgb(201, 188, 188);height:900px;left:954px;}
#id나열 > div > span, #title나열 > div > span, #js파일리스트기록 > div > span {border:1px solid black;display: inline-block;}
#id나열 > div > span:nth-of-type(1), #title나열 > div > span:nth-of-type(1) {padding:0px 4px; text-align: center;}/* width는 js로*/
#js파일리스트기록 > div > span:nth-of-type(1) {padding:0px 4px;width:170px;vertical-align: top;}
#id나열 > div > span:nth-of-type(2), #title나열 > div > span:nth-of-type(2), #js파일리스트기록 > div > span:nth-of-type(2) {padding:0px 4px;}/* width는 js로*/
#title나열 > div > span:nth-of-type(3), #js파일리스트기록 > div > span:nth-of-type(3) {padding:0px 4px;}/* width는 js로*/
#title나열 > div > span:nth-of-type(4), #js파일리스트기록 > div > span:nth-of-type(4) {padding:0px 4px;}/* width는 js로*/

.폼control이벤트 {border:1px solid black;padding:0 5px;vertical-align: top;width:138px;background-color: cadetblue;}
.폼control이벤트 > code:first-child {border-bottom:1px solid black;font-size:20px;}
.폼컨트롤이벤트_단독기능보라_클래스 {color:blueviolet;}
.폼컨트롤이벤트_단독기능노랑_클래스 {color:yellow;}
.폼컨트롤이벤트_모두포함브라운_클래스 {color:brown;}

.보숨토글버튼 {border:1px solid black;display: inline-block; width:60px;padding:3px 0px;}
.노랑바탕색 {background-color: yellow;} /* 캔버스_개별카테고리_h6의title과id순서 */
.검색결과바탕색 {background-color:chocolate;}
.띄움20 {text-indent: 20px;}

.결과표, .제목, .결과 {display: inline-block;}
.제목 {width:120;text-align: center;}
.결과 {width:110px;text-align: center;margin-left:-5px;border-left:none;}
.제목 > div, .결과 > div {border:1px solid black;margin-bottom:-1px;height:26px;}
#결과표_전체 textarea {display:inline-block;height:26px;width:140px;resize:none;margin-bottom:-7px;margin-left:-30px;}
.src있음 {background-color: yellow;}
.미사용src {border:1px solid black; background-color:white;position: absolute;display:block;}
.미사용src > div {text-align: left;}

/* #js_자료형을먼저알아야겠다 */
.자료형표 > code {margin-bottom:-1px;}
.자료형표 > code > div {display:inline-block;border:1px solid black;padding:0px 2px;margin-right:-1px;white-space: nowrap;font-weight: bold;}
.자료형표 > code > div:nth-last-of-type(1) {width:150px;}
.자료형표 > code > div:nth-last-of-type(2) {width:300px;}
.자료형표 > code > div:nth-last-of-type(3) {width:150px;}
.자료형표색칠 > div {background-color: cadetblue;}


body, pre {font-family: 'Noto Serif KR', serif;}
/* top 으로 이동하는 버튼*/
.back-to-top-css {
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 20px;
    opacity: 0.5;
    /* display: none; */
}
.back-to-top-css:hover {opacity: 1;}


