@charset "UTF-8";
code {display: block; color:black;margin-bottom:5px;}
.offcanvas-title {background-color: blanchedalmond;}
#캔버스바디 .js모든파일리스트div {display: inline-block;width:915px;}
#전체대체 {margin-left:115px; white-space: nowrap;}
#전체대체 > div > div {vertical-align: top;}
.offcanvas-header h6,.offcanvas-header input,.offcanvas-header button {display:inline-block;}
.canvas카테고리 > div {display:inline-block; width:617px;vertical-align: top;}
.현재카테고리 {background-color: chocolate;}

#head_button_group {background-color: rgb(247, 244, 241);z-index: 999;}
#복사 > div {margin-left:5px;}



