@charset "UTF-8";
#전체대체 > div {white-space:normal;} /* 전체대체가 nowrap인데 상속된다. 상속해제 */
.세로두줄 > div {vertical-align: top;display:inline-block; width:920px;}
.세로두줄 > div:nth-of-type(1) {border-right:1px solid rgb(190, 175, 175); }
code {display: block; color:black;margin-bottom:5px;}




