@charset "UTF-8";
code {display: block; color:black;margin-bottom:5px;}
.offcanvas-title {background-color: blanchedalmond;}
#캔버스바디 .js모든파일리스트div {display: inline-block;width:915px;}
#전체대체 {margin-left:115px; white-space: nowrap;}
#전체대체 > div > div {vertical-align: top;}
.offcanvas-header h6,.offcanvas-header input,.offcanvas-header button {display:inline-block;}
.개별카테고리 > div {display:inline-block; width:616px;vertical-align: top;} /* overflow-y: scroll;로 스크롤바 생겨서 width 617에서 616으로 변경*/
.현재카테고리 {background-color: chocolate;}

#head_button_group {background-color: rgb(247, 244, 241);z-index: 999;}

#복사 > div {margin-left:5px;}

.임시_내부3정보 > :nth-child(1) {display:inline-block; width:220px;background-color: aqua;border-bottom: 1px solid black;}  /* code*/
.임시_내부3정보 > :nth-child(2) {display:inline-block; width:40px;text-align:center;border-bottom: 1px solid black;}
.임시_내부3정보 > :nth-child(3) {display:inline-block; width:180px;background-color:antiquewhite;border-bottom: 1px solid black;margin-right:10px;}
.임시_내부3정보 > :nth-child(4) {display:inline-block; width:220px;background-color: aqua;border-bottom: 1px solid black;}  /* code*/
.임시_내부3정보 > :nth-child(5) {display:inline-block; width:40px;text-align:center;border-bottom: 1px solid black;}
.임시_내부3정보 > :nth-child(6) {display:inline-block; width:180px;background-color:antiquewhite;border-bottom: 1px solid black;}

.폼control이벤트 {border:1px solid black;padding:0 5px;vertical-align: top;width:138px;background-color: cadetblue;}
.폼control이벤트 > code:first-child {border-bottom:1px solid black;font-size:20px;}
.폼컨트롤이벤트_단독기능보라_클래스 {color:blueviolet;}
.폼컨트롤이벤트_단독기능노랑_클래스 {color:yellow;}
.폼컨트롤이벤트_모두포함브라운_클래스 {color:brown;}
.선택이벤트설명요소색칠 {background-color:aqua;}
.검색결과바탕색 {background-color:chocolate;}

.file_list_container > li {margin-bottom:-1px;}
.file_list_container > li > div {border:1px solid black;display: inline-block;margin-right:-1px;padding-left:5px;padding-right:5px;vertical-align: top;}
.결과표, .제목, .결과 {display: inline-block;}
.제목 {width:85px;text-align: center;}
.결과 {width:110px;text-align: center;margin-left:-5px;border-left:none;}
.제목 > div, .결과 > div {border:1px solid black;margin-bottom:-1px;}
#결과표_전체 textarea {display:inline-block;height:26px;width:140px;resize:none;margin-bottom:-7px;margin-left:-30px;}
.src있음 {background-color: yellow;}
