@charset "UTF-8";
.카테고리 {display:inline-block; width:90px; border:1px solid black;}
/* 전체글꼴 */
body, pre {font-family: 'Noto Serif KR', serif;}
#head_button_group {background-color: rgb(247, 244, 241);z-index: 999;}

#메모div > div {padding:3px;font-weight: bold;border-bottom:1px solid black;}
#메모div > div > div {display: inline-block;vertical-align: top;}
#메모div > div > button {display:inline-block; border:1px solid black; border-radius: 3px;margin-right:3px;padding:0;}
#메모div > div > button:nth-of-type(1) {width:80px;}
#메모div > div > button:nth-of-type(2) {width:70px;}
.일별메모모두감싸기 > div {display:inline-block;padding-left:5px;padding-right:5px;vertical-align: top;}
.연두바탕보라글자 {background-color:chartreuse; color:blueviolet;font-weight: bold;}
.마진탑3 {margin-top:3px;}
.보라글자 {color:blueviolet;}
.테두리 {border:1px solid black;border-radius: 5px;}
#PNG셑팅 {white-space: nowrap;}
.메모div우측 > div > div {white-space: normal;}
/* 달력 */
.days > div:nth-child(7n), .days > div:nth-child(7n+1), .days2 > div:nth-child(7n), .days2 > div:nth-child(7n+1) {font-weight: bold;color:red;}
.calendar, .calendar2 {width: 350px; margin-bottom:10px;border: 1px solid #ccc;padding: 10px;border-radius: 10px;box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);}
.header, .header2 {display: flex;justify-content: space-between;align-items: center;font-size: 20px;margin-bottom: 10px;}
.days, .days2 {display: grid;grid-template-columns: repeat(7, 1fr);gap: 5px;}
.day, .day2 {width: 40px;height: 40px;line-height: 40px;text-align: center;}
.today, .today2 {color: white;border-radius: 50%;}
.today, .today2 {background-color: #ff6347;color: white;border-radius: 50%;font-weight: bold;}
.일정 {background-color: yellow;color: white;border-radius: 50%;}
.달력두개모음 button {border: none;background-color: transparent;font-size: 18px;cursor: pointer;}

.js메모있는날짜달력표시:not([class~='today']) {background-color: blue;color:white;font-weight: bold;}
.js메모있는날짜달력표시[class~='today'] {background-color: blue;font-weight: bold;}
.js오늘메모 {background-color:chartreuse;}


body {
	transform: skew(-0.05deg);
}

#선사와cy관련모두wrap {font-size: 13px; font-weight: bold;}
#입항관리자료풀림결과 tr > td {height:22px; display:inline-block; border:1px solid black;margin-right:-1px;margin-bottom:-1px;padding-left:3px;overflow: hidden;vertical-align: top;}
#입항관리자료풀림결과 tr > td:nth-of-type(1) {width:30px;text-align: center;}
#입항관리자료풀림결과 tr > td:nth-of-type(2) {width:80px;}
#입항관리자료풀림결과 tr > td:nth-of-type(3) {width:110px;}
#입항관리자료풀림결과 tr > td:nth-of-type(4) {width:80px;}
#입항관리자료풀림결과 tr > td:nth-of-type(5) {width:400px;}
#입항관리자료풀림결과 tr > td:nth-of-type(6) {width:10px;}/* 상세우측 빈칸 */
#입항관리자료풀림결과 tr > td:nth-of-type(7) {width:110px;}
#입항관리자료풀림결과 tr > td:nth-of-type(8) {width:100px;}/* 물품 */
#입항관리자료풀림결과 tr > td:nth-of-type(9) {width:20px;}/* -2 */
#입항관리자료풀림결과 tr > td:nth-of-type(10) {width:180px;}/* 선명 */
#입항관리자료풀림결과 tr > td:nth-of-type(11) {width:150px;}
#입항관리자료풀림결과 tr > td:nth-of-type(12) {width:70px;}/* 도착항 */
#입항관리자료풀림결과 tr > td:nth-of-type(13) {width:20px;}/* 상세내용원본 */
#입항관리자료풀림결과 tr > td:nth-of-type(14) {width:20px;}/* 빈칸,상세내용원본복사쉽도록 */

#오른쪽리스트메모2만 tr > td {width:100px;height:22px; display:inline-block; border:1px solid black;margin-right:-1px;margin-bottom:-1px;padding-left:3px;overflow: hidden;vertical-align: top;}

#리스트자료풀림결과 {font-size: 13px; font-weight: bold;}
#리스트자료풀림결과  tr > td {height:21px; display:inline-block; border:1px solid black;margin-right:-1px;margin-bottom:-1px;padding-left:3px;overflow: hidden;vertical-align: top;}
#리스트자료풀림결과  tr > td:nth-of-type(1) {width:30px;}
#리스트자료풀림결과  tr > td:nth-of-type(2) {width:30px;}
#리스트자료풀림결과  tr > td:nth-of-type(3) {width:150px;}
#리스트자료풀림결과  tr > td:nth-of-type(4) {width:80px;}
#리스트자료풀림결과  tr > td:nth-of-type(5) {width:110px;}/* 컨 */
#리스트자료풀림결과  tr > td:nth-of-type(6) {width:60px;}
#리스트자료풀림결과  tr > td:nth-of-type(7) {width:50px;}
#리스트자료풀림결과  tr > td:nth-of-type(8) {width:120px;}/* 반입 no */
#리스트자료풀림결과  tr > td:nth-of-type(9) {width:40px;text-align: center;}
#리스트자료풀림결과  tr > td:nth-of-type(10) {width:20px;}/* 구분 */
#리스트자료풀림결과  tr > td:nth-of-type(11) {width:40px;}
#리스트자료풀림결과  tr > td:nth-of-type(12) {width:40px;}
#리스트자료풀림결과  tr > td:nth-of-type(13) {width:250px;}/*20피트구분 시간입력 및 선명 등 메모  */

#축산예정자료풀기결과 {font-size: 13px; font-weight: bold;}
#축산예정자료풀기결과  tr > td {height:21px; display:inline-block; border:1px solid black;margin-right:-1px;margin-bottom:-1px;padding-left:3px;overflow: hidden;vertical-align: top;}
#축산예정자료풀기결과  tr > td:nth-of-type(1) {width:20px;}
#축산예정자료풀기결과  tr > td:nth-of-type(2) {width:140px;}
#축산예정자료풀기결과  tr > td:nth-of-type(3) {width:150px;}
#축산예정자료풀기결과  tr > td:nth-of-type(4) {width:110px;} /* 컨*/
#축산예정자료풀기결과  tr > td:nth-of-type(5) {width:50px;}
#축산예정자료풀기결과  tr > td:nth-of-type(6) {width:50px;}
#축산예정자료풀기결과  tr > td:nth-of-type(7) {width:80px;}/*판매원 */
#축산예정자료풀기결과  tr > td:nth-of-type(8) {width:40px;}
#축산예정자료풀기결과  tr > td:nth-of-type(9) {width:40px;text-align: center;}
#축산예정자료풀기결과  tr > td:nth-of-type(10) {width:30px;}/* 입고층*/
#축산예정자료풀기결과  tr > td:nth-of-type(11) {width:40px;text-align: center;}
#축산예정자료풀기결과  tr > td:nth-of-type(12) {width:100px;text-align: center;}
#축산예정자료풀기결과  tr > td:nth-of-type(13) {width:80px;}
#축산예정자료풀기결과  tr > td:nth-of-type(14) {width:35px;}/* 품종*/
#축산예정자료풀기결과  tr > td:nth-of-type(15) {width:70px;}
#축산예정자료풀기결과  tr > td:nth-of-type(16) {width:90px;}/*스티커*/
#축산예정자료풀기결과  tr > td:nth-of-type(17) {width:50px;}
#축산예정자료풀기결과  tr > td:nth-of-type(18) {width:230px;}/*가공일자*/
#축산예정자료풀기결과  tr > td:nth-of-type(19) {width:0px;}
#축산예정자료풀기결과  tr > td:nth-of-type(20) {width:0px;}
#축산예정자료풀기결과  tr > td:nth-of-type(21) {width:0px;}
#축산예정자료풀기결과  tr > td:nth-of-type(22) {width:0px;}
#축산예정자료풀기결과  tr > td:nth-of-type(23) {width:0px;}
#축산예정자료풀기결과  tr > td:nth-of-type(24) {width:0px;}
#축산예정자료풀기결과  tr > td:nth-of-type(25) {width:80px;}
#축산예정자료풀기결과  tr > td:nth-of-type(26) {width:100px;}

.검색결과바탕색 {background-color:chocolate;}

#입항관리자료풀림결과 > div > span {white-space:nowrap;overflow: hidden;height:30px;display:inline-block;vertical-align: top;}

.선사부호버튼 {display: inline-block;vertical-align: top;}
.선사부호버튼 > div > div {border:1px solid black;display:inline-block;width:240px;margin-right:-1px;text-align: start;padding:2px;}
.선사부호버튼 > div > div {overflow:hidden;vertical-align: top;}
.선사부호버튼 > div {margin-bottom:-1px;}
.선사부호버튼 > div > div:nth-of-type(1) {width:60px;}
.선사부호버튼 > div > div:nth-of-type(2) {width:70px;}
.선사부호버튼 > div > div:nth-of-type(3) {width:230px;}
.선사부호버튼 > div > div:nth-of-type(4) {width:50px;}/* 선사메모*/
.선사부호버튼왼쪽 > div > div:nth-of-type(4):hover {width:450px;white-space: normal;}/* 선사메모*/
.선사부호버튼오른쪽 > div > div:nth-of-type(4):hover {width:450px;white-space: normal;margin-left:-400px;z-index: 9999;background-color:aqua;}/* 선사메모*/

.선사CY조회조건버튼 {border:1px solid black; border-radius: 5px;display:inline-block;width:70px;margin-right:5px;}
#왼쪽고정복사자료 {margin-right:5px;}

.선사링크 {margin:5px 0px;}
.선사링크 > div > div {border:1px solid black;font-size:16px;display:inline-block;margin-bottom:-1px;padding:2px 4px;height:30px;vertical-align: top;}
.선사링크 > div > div:nth-of-type(1) {width:200px;margin-right:-5px;border-right:none;}
.선사링크 > div > div:nth-of-type(2) {width:65px;font-size:13px;margin-right:-5px;border-right:none}
.선사링크 > div > div:nth-of-type(3) {width:700px;font-size:13px;}

.js한줄색칠있음 > * {background-color:chartreuse;}
.js시간노랑 {background-color:yellow;}

#클릭파일 {position:absolute;background-color: white;border:1px solid black; border-radius: 5px;display:inline-block;}
#클릭파일 button, #클릭복사본 button {border:1px solid black; border-radius: 5px;font-weight: bold;}

/* top 으로 이동하는 버튼*/
.back-to-top-css {
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 20px;
    opacity: 0.5;
    /* display: none; */
}
.back-to-top-css:hover {opacity: 1;}
/* sunsa_cy.html*/
#head_button_group button {margin:0;padding:0px 3px;}
.navbar-collapse {margin:0;padding:0}


