@charset "UTF-8";
#modal{
	z-index : 1;
	background-color: rgba(0,0,0,.3);
	position:fixed;
	left:0;
	top: 0;
	width:100%;
	height:100%;
}
#modal>#content{
	width:300px;
	margin:100px auto;
	padding:20px;
	position: relative;
	background-color:#fff;
}
#modal .close{
    position:absolute;
    top:4px;
    right:4px;	
    font-size:20px;
    border:0;
    background-color: #fff;
  } 
  #modal .close:hover,
  #modal .close:focus {
    color : #000;
    text-decoration: none;
    cursor :pointer;
  }
/* 전체글꼴 */
body, pre {font-family: 'Noto Serif KR', serif;}
#head_button_group {background-color: rgb(247, 244, 241);z-index: 999;}
/* top 으로 이동하는 버튼*/
.back-to-top-css {
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 20px;
    opacity: 0.5;
    /* display: none; */
}
.back-to-top-css:hover {opacity: 1;}
/* sunsa_cy.html*/
#head_button_group button {margin:0;padding:0px 3px;}
#head_button_group textarea {resize: none;line-height: 25px;vertical-align: top;margin-top:2px;}
.navbar-collapse {margin:0;padding:0}

#카피, #캔버스결과 {margin-left:5px;}
/* 가로한줄이 독립적이게... 전체검색시 여러군데서 가지고 오게 되니까... */
.결과_선사한줄독립 {white-space: nowrap;word-break:break-all;}/* nowarp<>normal */
.결과_선사한줄독립 > div 
{white-space: normal;vertical-align: top;display:inline-block;margin:0px;margin-bottom:-1px;margin-right:-5px; 
    padding:2px 4px;border:1px solid black;border-radius: 0%;}
.결과_선사한줄독립 > div:first-child {width:150px;}
.결과_선사한줄독립 > div:first-child > span {float:right;margin-top: 2px;}
.결과_선사한줄독립 > div:nth-of-type(2) {width:1700px;}

.결과_포딩한줄독립 {white-space: nowrap;word-break:break-all;}/* nowarp<>normal */
.결과_포딩한줄독립 > div 
{white-space: normal;vertical-align: top;display:inline-block;margin:0px;margin-bottom:-1px;margin-right:-5px; 
    padding:2px 4px;border:1px solid black;border-radius: 0%;}
.결과_포딩한줄독립 > div:first-child {width:150px;}
.결과_포딩한줄독립 > div:nth-of-type(2) {width:300px;}
.결과_포딩한줄독립 > div:nth-of-type(3) {width:200px;}
.결과_포딩한줄독립 > div:nth-of-type(4) {width:1200px;}

.결과_화주한줄독립 {white-space: nowrap;word-break:break-all;}/* nowarp<>normal */
.결과_화주한줄독립 > div 
{white-space: normal;vertical-align: top;display:inline-block;margin:0px;margin-bottom:-1px;margin-right:-5px; 
    padding:2px 4px;border:1px solid black;border-radius: 0%;}
.결과_화주한줄독립 > div:first-child {width:200px;}
.결과_화주한줄독립 > div:nth-of-type(2) {width:550px;}
.결과_화주한줄독립 > div:nth-of-type(3) {width:500px;}
.결과_화주한줄독립 > div:nth-of-type(4) {width:400px;margin-right:-6px;}
.결과_화주한줄독립 > div:nth-of-type(5) {width:80px;}
.결과_화주한줄독립 > div:nth-of-type(6) {width:300px;}
.결과_화주한줄독립 > div:nth-of-type(7) {width:200px;}/* 사업자번호 */
.결과_화주한줄독립 > div:nth-of-type(8) {width:500px;margin-right:20px;}

.결과_운송사한줄독립, .결과_면허한줄독립 {white-space: nowrap;word-break:break-all;}
.결과_운송사한줄독립 > div, .결과_면허한줄독립 > div
{white-space: normal;vertical-align: top; display:inline-block;margin:0px;margin-bottom:-1px;margin-right:-5px; 
    padding:2px 4px;border:1px solid black;border-radius: 0%;}
.결과_운송사한줄독립 > div:first-child, .결과_면허한줄독립 > div:first-child {width:280px;}
.결과_운송사한줄독립 > div:first-child > span, .결과_면허한줄독립 > div:first-child > span {float:right;margin-top: 2px;}
.결과_운송사한줄독립 > div:nth-of-type(2), .결과_면허한줄독립 > div:nth-of-type(2) {width:300px;}
.결과_운송사한줄독립 > div:nth-of-type(3), .결과_면허한줄독립 > div:nth-of-type(3) {width:200px;}
.결과_운송사한줄독립 > div:nth-of-type(4), .결과_면허한줄독립 > div:nth-of-type(4) {width:200px;margin-right:-6px;}
.결과_운송사한줄독립 > div:nth-of-type(5), .결과_면허한줄독립 > div:nth-of-type(5) {width:200px;}
.결과_운송사한줄독립 > div:nth-of-type(6), .결과_면허한줄독립 > div:nth-of-type(6) {width:674px;}

.결과_품명한줄독립 {white-space: nowrap;word-break:break-all;}/* nowarp<>normal */
.결과_품명한줄독립 > div 
{white-space: nowrap;overflow:hidden; text-overflow:ellipsis; vertical-align: top;display:inline-block;margin:0px;margin-bottom:-1px;margin-right:-5px; 
    padding:2px 4px;border:1px solid black;border-radius: 0%;}
.결과_품명한줄독립 > div:nth-of-type(odd) {width:235px;}
.결과_품명한줄독립 > div:nth-of-type(even) {width:140px;border-right:2px solid black;}
.결과_품명한줄독립 > div:nth-of-type(4) {margin-right:-6px; }


/* #카피 시작부분에 #선사정보 absolute상태, 선사 클릭시 선사정보가 있으면 id를 참조해 #선사정보_none > #타이틀을 가져옴, id가 선사_==>선사정보_ */
#카피 > #선사정보 {position: absolute;left:154px;background-color: white; border:1px solid black;background-color: aqua;}


.offcanvas-header h6,.offcanvas-header input,.offcanvas-header button {display:inline-block;}
.canvas카테고리 > div {display:inline-block; width:617px;vertical-align: top;}
.현재카테고리 {background-color: chocolate;}

#execl범위풀_기결과 {white-space: nowrap;padding-left:5px;}/* tab으로풀기?*/
#execl범위풀_기결과 span {margin-right:5px;display:inline-block;height:20px;}/* 기본넓이 30px, 스크립트로조정*/
.execl범위풀_기결과_보라색칠 {background-color: blueviolet;}

.결과내검색색깔넣기 {background-color: cornflowerblue;}
