@charset "UTF-8";
body, pre {font-family: 'Noto Serif KR', serif;}
header {position:fixed;width:100%;}
* {vertical-align: top;}
body {white-space: nowrap;}

.분류, .소분류 {display:inline-block;}
.당번8칸 > div {margin-top:-1px;}
.당번만 > div, .보볼 > div {width:24px; height: 24px; border:1px solid black;display:inline-block;margin-right:-1px;}
.당번회차 > div {width:50px;height: 24px; border:1px solid black;display:inline-block;}
.당번회차 {margin-right:-1px;}
#당번_플마클리어오른쪽버튼 > button, #분석자료_플마클리어오른쪽버튼 > button {border: 1px solid black;border-radius: 5px;}
#당번_오주연결버튼 .타이틀은아이디 {border: 1px solid black;height:25px;width:70px;margin-right:-1px;margin-top:-1px;}
#당번_오주연결버튼 .타이틀은아이디 ~ button {border: 1px solid black;height:25px;width:35px;margin-top:-1px;}
#당번_삼십주연결버튼 .타이틀은아이디 {border: 1px solid black;height:25px;width:35px;margin-right:-1px;margin-top:-1px;}
#당번_삼십주연결버튼 .타이틀은아이디 ~ button {border: 1px solid black;height:25px;width:35px;margin-top:-1px;}

.코드제목들 > button {border:none;border-bottom:1px solid black; height:30px;display:block;background-color: white;}
.코드제목들 > button:hover {background-color: cadetblue;}
.코드제목들 > button[class*="active"] {background-color:aqua;}
.코드제목들 > button[class*="active"] {background-color:aqua;}
#이동할위치div리스트 > div[class*="active"] {background-color:cadetblue;}
#이동할div리스트 > div[class*="active"] {background-color:cadetblue;}