@charset "UTF-8";
body {font-family: 'Noto Serif KR', serif;white-space: nowrap;}
body * {vertical-align: top;} button {margin-right:-1px;border:1px solid black;width:24px;height:24px;padding:0px;} div {margin-bottom:-1px;}
body > div {display:inline-block}
/* 부트스트랩:border-1, 마진:m-0에서5, mx(가로),my,mt(위),mb(아래),ml(왼쪽),mr(오른쪽) */
#이동하기 {position: absolute;background-color: white;border:1px solid black;margin:5px;padding:5px;left:5px; top:100px;left:300px;}
#따라가기 {position: absolute;background-color: white;border:1px solid black;margin:5px;padding:5px;left:5px;}
#이동하기 .active {background-color: cadetblue;}
.radius5 {border-radius: 5px;}
.당번회차 > button {width:40px;}
#당번_오주연결버튼 > div > button:nth-of-type(1) {width:65px;} #당번_오주연결버튼 > div > button:nth-of-type(2) {width:28px;}
#당번_삼십주연결버튼 > div > button:nth-of-type(1) {width:28px;} #당번_삼십주연결버튼 > div > button:nth-of-type(2) {width:28px;}
#분석자료_삼십회표_js > div > button:nth-of-type(1) {width:40px;}
#분석자료_삼십회23456개수_js > div > button:nth-of-type(1) {width:40px;}

.설명_왼쪽div * {border:1px solid black;display:inline-block}/* button, button, span */
.설명_왼쪽div > button:nth-of-type(1) {width:34px;} .설명_왼쪽div > button:nth-of-type(2) {width:45px;} 
.설명_왼쪽div > span:nth-of-type(1) {width:85px;text-align: center;height:24px;margin-right:-1px;}
.설명_왼쪽div_버튼5개 > button:nth-of-type(6) {width:47px;}
/*  */
#분석자료숨김버튼 > button, #분석자료_플마버튼 > button {height:30px; border:1px solid black; border-radius: 5px; display: inline-block; width:30px;}

#삼십회횟수기록 > button:not(.분석):not(.분석덧칠) {font-weight: bold;color:blueviolet;background-color: rgb(224, 176, 141);}
.js클릭번호 > span:nth-of-type(1) > button:nth-of-type(1) {background-color: chartreuse;font-weight: bold;}
.js클릭번호 > span:nth-of-type(1) > *:not(:first-child) {width:30px;}
.다섯개씩번갈아색칠 > button {font-weight: bold;}
#분석자료45칸 .다섯개씩번갈아색칠 button:nth-of-type(10n+1):not(.분석):not(.분석덧칠),
#분석자료45칸 .다섯개씩번갈아색칠 button:nth-of-type(10n+2):not(.분석):not(.분석덧칠),
#분석자료45칸 .다섯개씩번갈아색칠 button:nth-of-type(10n+3):not(.분석):not(.분석덧칠),
#분석자료45칸 .다섯개씩번갈아색칠 button:nth-of-type(10n+4):not(.분석):not(.분석덧칠),
#분석자료45칸 .다섯개씩번갈아색칠 button:nth-of-type(10n+5):not(.분석):not(.분석덧칠)
{background-color: bisque;}
#분석자료45칸 .다섯개씩번갈아색칠 button:nth-of-type(10n):not(.분석):not(.분석덧칠),
#분석자료45칸 .다섯개씩번갈아색칠 button:nth-of-type(10n-1):not(.분석):not(.분석덧칠),
#분석자료45칸 .다섯개씩번갈아색칠 button:nth-of-type(10n-2):not(.분석):not(.분석덧칠),
#분석자료45칸 .다섯개씩번갈아색칠 button:nth-of-type(10n-3):not(.분석):not(.분석덧칠),
#분석자료45칸 .다섯개씩번갈아색칠 button:nth-of-type(10n-4):not(.분석):not(.분석덧칠)
{background-color:rgb(196, 169, 137);}



.분석 {background-color:cadetblue;}
.분석덧칠 {background-color:cornflowerblue;}
.분석버튼숨김 {background-color: darkcyan;}
/* 마지막에 배치해야된다 */
.코드제목들 > div:not(:first-child) {display:block;background-color: white;border-bottom:1px solid black;margin-bottom:0px;}/* button => block, 밑줄만 */

/* 코딩 임시 끝 */
.피해서번호흰색 {background-color: white;}
.피해서번호노랑 {background-color: yellow;}
.분석[title='1'], .분석[title='2'], .분석[title='3'], .분석[title='4'], .분석[title='5'],
.분석[title='6'], .분석[title='7'], .분석[title='8'], .분석[title='9']
{background-color: yellow;border-radius: 20px;}
.분석[title='10'],.분석[title='11'], .분석[title='12'], .분석[title='13'], .분석[title='14'], 
.분석[title='15'],.분석[title='16'], .분석[title='17'], .분석[title='18'], .분석[title='19']
{background-color:cornflowerblue;border-radius: 20px;}
.분석[title='20'],.분석[title='21'], .분석[title='22'], .분석[title='23'], .분석[title='24'], 
.분석[title='25'],.분석[title='26'], .분석[title='27'], .분석[title='28'], .분석[title='29']
{background-color:red ;border-radius: 20px;}
.분석[title='30'],.분석[title='31'], .분석[title='32'], .분석[title='33'], .분석[title='34'], 
.분석[title='35'],.분석[title='36'], .분석[title='37'], .분석[title='38'], .분석[title='39']
{background-color:gray;border-radius: 20px;}
.분석[title='40'],.분석[title='41'], .분석[title='42'], .분석[title='43'], .분석[title='44'], 
.분석[title='45']
{background-color:green;border-radius: 20px;}
