@charset "UTF-8";
.왼쪽, .중간, .오른쪽 {display:inline-block;vertical-align: top;}
.가능숫자하나, .기회 {margin-bottom:3px;}
.가능숫자하나 *, .기회 * {display:inline-block;height:30px;width:30px;border:1px solid black;margin-right:-1px;vertical-align: top;text-align: center;}
.두줄 {height:50px;width:50px;font-size: 30px;display: inline-block;margin-right:1px;vertical-align: top;}
.두줄 div, .확정가정 div, #랜덤번호 div {height:50px;width:50px;font-size: 30px;border:1px solid black;text-align: center;margin-bottom:-1px;}
.숫자일치 {margin-right:10px;display: inline-block;background-color: cadetblue;}
.위치일치 {margin-right:10px;display: inline-block;background-color: cadetblue;}
.js기록중 {background-color: blueviolet;}
.js제외 {background-color: chocolate;}
.실행버튼들 > button {border:1px solid black;border-radius: 5px;margin:5px 0px;}
.실행버튼들 > button:nth-of-type(1) {margin-right:40px;margin-left:20px;}
#포함제외확정 > div {display:inline-block}
#포함제외확정 > div:nth-of-type(1) > div > div {border:1px solid black;width:150px;display:inline-block;height:35px;vertical-align: top;margin-right:-1px;margin-bottom:-1px;}
#포함제외확정 > div:nth-of-type(2) > div > div {border:1px solid black;width:40px;display:inline-block;height:35px;vertical-align: top;
  margin-right:7px;margin-bottom:-1px;text-align: center;font-size: 23px;font-weight: bold;}
.js표시, .js가능제외 {background-color: chocolate;}  
#js결과배열 > div {display:inline-block;margin-right:8px;vertical-align: top;}
#js결과배열 > div > div {margin-bottom:2px;}
#js결과배열 > div > div > div {display:inline-block;border:1px solid black;font-size: 18px;font-weight: bold;margin-right:-1px;width:20px;text-align: center;}

